.gallery {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7.5rem !important;
}

.gallery > div {
    width: calc(100vw - 2.5rem);
    max-width: calc(1440px - 2.5rem);
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: var(--white-100);
}

main p {
    color: var(--white-80);
}

.gallery-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.categories {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-main {
    width: calc(100vw - 2.5rem);
    max-width: calc(1440px - 2.5rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.gallery-main > div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.gallery-main > div > img {
    border-radius: 0.5rem;
}


@media (min-width: 768px) {
    .gallery > div {
        width: calc(100vw - 8rem);
        max-width: calc(1440px - 4rem);
    }

    .gallery-main {
        display: grid;
        width: calc(100vw - 8rem);
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1.25rem;
    }
}

@media (min-width: 1280px) {
    .gallery > div {
        width: calc(100vw - 16rem);
        max-width: calc(1440px - 6rem);
    }

    .gallery-main {
        width: calc(100vw - 16rem);
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 1.5rem;
    }
}
