main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7.5rem;
}

main > div {
    width: calc(100vw - 3rem - 2.5rem);
    max-width: calc(1440px - 2.5rem);
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--white-100);
    border: 1px solid var(--white-10);
    background-color: var(--white-1);
    border-radius: 1.5rem;
    padding: 1.25rem;
}

main p {
    color: var(--white-80);
}

@media (min-width: 768px) {
    main > div {
        width: calc(100vw - 8rem - 4rem);
        max-width: calc(1440px - 4rem);
        padding: 2rem;
    }
}

@media (min-width: 1280px) {
    main > div {
        width: calc(100vw - 16rem - 6rem);
        max-width: calc(1440px - 6rem);
        padding: 3rem;
    }
}

.story-n-mission-image {
    height: fit-content;
    padding: 1.25rem;
    border-radius: 2rem;
    border: 1px solid var(--white-10);
    position: relative;
}

.story-n-mission-image > img {
    width: 100%;
    border-radius: 1rem;
    aspect-ratio: 1/1;
    background-color: var(--white-10);
}

.story-n-mission-image > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--white-100);
    border: 1px solid var(--white-80);
    background-color: var(--white-1);
    backdrop-filter: blur(16px);
    position: absolute;
    padding: 1rem;
    border-radius: 1rem;
    width: calc(100% - 2rem - 2rem - 2.5rem);
    align-self: end;
    margin: 1rem;
}

.story-n-mission > div {
    width: calc(100vw - 3rem);
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.story-n-mission-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.story-n-mission-content > div {
    padding: 1.125rem;
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    background-color: var(--white-1);
    border: 1px solid var(--white-10);
    border-radius: 1.5rem;
    color: var(--white-100);
}

.story-n-mission-content p {
    color: var(--white-80);
}




.mission-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.mission-grid > div {
    padding: 1.5rem 1rem 1rem 1rem;
    border: 1px solid var(--white-30);
    background-color: var(--white-10);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.mission-grid > div > div {
    display: flex;
    gap: 0.5rem;
}

.mission-grid > div > div > svg {
    width: 1.5rem;
    height: 1.5rem;
}

@media (min-width: 768px) {
    .story-n-mission > div {
        width: calc(100vw - 8rem);
        max-width: 1440px;
        display: grid;
        gap: 3vw;
    }


    .story-n-mission-image > div {
        width: calc(100% - 2rem - 3rem - 2.5rem);
        margin: 1.5rem;
    }

    .story-n-mission-content > div {
        padding: 1.5rem;
        gap: 1.125rem;
    }

    .mission-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media (min-width: 1024px) {
    .story-n-mission > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3vw;
    }


    .story-n-mission-image > div {
        width: calc(100% - 2rem - 3rem - 2.5rem);
        margin: 1.5rem;
    }
}

@media (min-width: 1280px) {
    .story-n-mission > div {
        width: calc(100vw - 16rem);
        max-width: 1440px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .story-n-mission-image > div {
        width: calc(100% - 2rem - 4rem - 2.5rem);
        margin: 2rem;
    }

    .story-n-mission-content > div {
        padding: 2rem;
        gap: 1.125rem;
    }
}

.meet-our-team > div {
    width: calc(100vw - 3rem - 2.5rem);
    max-width: calc(1440px - 2.5rem);
    color: var(--white-100);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1.25rem 1.25rem 1.25rem;
    border: 1px solid var(--white-10);
    background-color: var(--white-1);
    border-radius: 2rem;
    text-align: center;
}

.meet-our-team > div > div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.meet-our-team > div > div > div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.875rem;
    border: 1px solid var(--white-30);
    background-color: var(--white-10);
    border-radius: 1rem;
}

.meet-our-team > div > div > div > h4 {
    width: 2.625rem;
    height: 2.625rem;
    padding: 1.125rem;
    background-color: var(--red-main);
    border-radius: 0.75rem;;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meet-our-team > div > div > div > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.meet-our-team > div > div > div > div > div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.meet-our-team > div > div > div > div p {
    color: var(--white-80);
    font-size: 0.875rem;
}

.meet-our-team .position {
    color: var(--red-main);
}

.meet-our-team .category {
    color: var(--white-60);
}

@media (min-width: 768px) {
    .meet-our-team > div {
        width: calc(100vw - 8rem - 3rem);
        max-width: calc(1440px - 3rem);
        gap: 2rem;
        padding: 2rem 1.5rem 1.5rem 1.5rem; 
    }

    .meet-our-team > div > div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }


    .meet-our-team > div > div > div {
        padding: 1rem;
    }
}

@media (min-width: 1280px) {
    .meet-our-team > div {
        width: calc(100vw - 16rem - 6rem);
        max-width: calc(1440px - 6rem);
        gap: 2.625rem;
        padding: 3rem;
    }

    .meet-our-team > div > div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .meet-our-team > div > div > div {
        padding: 1.5rem;
    }
}


.awards-recognition > div {
    width: calc(100vw - 3rem - 2.5rem);
    max-width: calc(1440px - 6rem);
    color: var(--white-100);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.25rem;
    border: 1px solid var(--white-10);
    background-color: var(--white-1);
    border-radius: 2rem;
    text-align: center;
}

.awards-recognition > div > div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.awards-recognition > div > div > div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.875rem;
    border: 1px solid var(--white-30);
    background-color: var(--white-10);
    border-radius: 1rem;
}

.awards-recognition > div > div > div > h4 {
    width: 2.625rem;
    height: 2.625rem;
    padding: 1.125rem;
    background-color: var(--red-main);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.awards-recognition > div > div > div > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.awards-recognition > div > div > div > div p {
    color: var(--white-80);
    font-size: 0.875rem;
}

.awards-recognition .position {
    color: var(--red-main);
}

.awards-recognition .category {
    color: var(--white-60);
}


@media (min-width: 768px) {
    .awards-recognition > div {
        width: calc(100vw - 8rem - 3rem);
        max-width: calc(1440px - 3rem);
        gap: 2rem;
        padding: 1.5rem;
    }

    .awards-recognition > div > div > div {
        padding: 1rem;
    }

    .awards-recognition > div > div {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .awards-recognition > div > div {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1280px) {
    .awards-recognition > div {
        width: calc(100vw - 16rem - 6rem);
        max-width: calc(1440px - 6rem);
        gap: 2.625rem;
        padding: 3rem;
    }

    .awards-recognition > div > div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    .awards-recognition > div > div > div {
        padding: 1.5rem;
    }
}

.start-project > div {
    width: calc(100vw - 3rem - 2.5rem);
    max-width: calc(1440px - 2.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1.25rem;
    gap: 2rem;
    border: 1px solid var(--white-10);
    background-color: var(--white-1);
    color: var(--white-100);
    border-radius: 2rem;
    text-align: center;
}

.start-project > div > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

.start-project > div > div:nth-child(2) {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.start-project > div > div > p {
    color: var(--white-80);
}


@media (min-width: 768px) {
    .start-project > div {
        width: calc(100vw - 8rem - 4rem);
        max-width: calc(1440px - 4rem);
        padding: 2rem;
    }
}

@media (min-width: 1280px) {
    .start-project > div {
        width: calc(100vw - 16rem - 6rem);
        max-width: calc(1440px - 6rem);
        padding: 3rem;
    }
}