main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7.5rem;
}

main > div {
    width: calc(100vw - 3rem);
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    row-gap: 2.625rem;
}

main .content {
    color: var(--white-100);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    border: 1px solid var(--white-10);
    background-color: var(--white-1);
    border-radius: 2rem;
}

main .content > div:nth-child(1) {
    color: var(--white-100);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main .content > div:nth-child(2) {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

main p {
    color: var(--white-80);
}

main span {
    color: var(--red-main);
}

main .image {
    width: 100%;
    padding: 1.25rem;
    border-radius: 2rem;
    border: 1px solid var(--white-10);
    position: relative;
    min-width: calc(380px - 3rem);
}

main .image > img {
    width: 100%;
    border-radius: 1rem;
    aspect-ratio: 4/5;
    background-color: var(--white-10);
}

.image > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--white-100);
    border: 1px solid var(--white-80);
    background-color: var(--white-1);
    backdrop-filter: blur(16px);
    position: absolute;
    padding: 1rem;
    border-radius: 1rem;
    width: calc(100% - 2rem - 2rem - 2.5rem);
    align-self: end;
    margin: 1rem;
}

section {
    margin: 3rem 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 440px) {

}

@media (min-width: 768px) {
    main > div {
        width: calc(100vw - 8rem);
    }

    main .content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1.25rem;
        border-radius: 2rem;
    }

    .image > div {
        width: calc(100% - 2rem - 3rem - 2.5rem);
        margin: 1.5rem;
    }
}

@media (min-width: 1024px) {
    main > div {
        width: calc(100vw - 8rem);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3vw;
    }


    main .image {
        width: unset;
    }

    .image > div {
        width: calc(100% - 2rem - 4rem - 2.5rem);
        margin: 2rem;
    }
}

@media (min-width: 1280px) {
    main > div {
        width: calc(100vw - 16rem);
        grid-template-columns: 1fr 1fr;
        gap: 6vw;
    }

    main .content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        border-radius: 2rem;
    }

    main .content > div:nth-child(1) {
        gap: 1.5rem;
    }
}


.our-services {
    margin-top: 6rem;
}

.our-services > div {
    width: calc(100vw - 3rem - 2rem);
    max-width: calc(1440px - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem 2rem 1rem;
    gap: 1.5rem;
    border: 1px solid var(--white-10);
    background-color: var(--white-1);
    color: var(--white-100);
    border-radius: 2rem;
}

.our-services > div > div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.our-services > div > div > div {
    padding: 0.875rem;
    background-color: var(--white-10);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white-30);
    border-radius: 1rem;
}

.our-services > div > div > div > div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    color: var(--white-100);
    text-align: center;
}

.our-services > div > div > div > svg {
    width: 2.625rem;
    height: 2.625rem;
}

.our-services p {
    color: var(--white-80);
}

@media (min-width: 768px) {
    .our-services > div > div {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

    .our-services > div > div > div {
        padding: 1.5rem;
    }

    .our-services > div {
        width: calc(100vw - 8rem - 4rem);
        max-width: calc(1440px - 4rem);
        padding: 2.625rem 2rem 2rem 2rem;
        gap: 2.625rem;
    }

    .our-services > div > div > div > svg {
        width: 3rem;
        height: 3rem;
    }
}

@media (min-width: 1280px) {
    .our-services > div > div {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }

    .our-services > div > div > div {
        padding: 1.5rem;
    }

    .our-services > div {
        width: calc(100vw - 16rem - 6rem);
        max-width: calc(1440px - 6rem);
        padding: 3rem;
    }
}

.why-choose-us > div {
    width: calc(100vw - 3rem - 2rem);
    max-width: calc(1440px - 2rem);
    color: var(--white-100);
    display: flex;
    flex-direction: column;
    gap: 2.625rem;
    padding: 2rem 1rem 2rem 1rem;
    border: 1px solid var(--white-10);
    background-color: var(--white-1);
    border-radius: 2rem;
    text-align: center;
}

.why-choose-us > div > div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    align-items: start;
}

.why-choose-us > div > div > div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.why-choose-us > div > div > div > svg {
    width: 2rem;
    height: 2rem;
    padding: 0.875rem;
    background-color: var(--red-main);
    border-radius: 0.75rem;
}

.why-choose-us > div > div > div > div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.why-choose-us > div > div > div > div > p {
    color: var(--white-80);
    font-size: 0.875rem;
}


@media (min-width: 768px) {
    .why-choose-us > div {
        width: calc(100vw - 8rem - 4rem);
        max-width: calc(1440px - 4rem);
        gap: 2.625rem;
        padding: 2rem;
    }

    .why-choose-us > div > div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        align-items: start;
    }

    .why-choose-us > div > div > div > svg {
        width: 2.625rem;
        height: 2.625rem;
        padding: 1.125rem;
        background-color: var(--red-main);
        border-radius: 0.75rem;
    }
}

@media (min-width: 1280px) {
    .why-choose-us > div {
        width: calc(100vw - 16rem - 6rem);
        max-width: calc(1440px - 6rem);
        gap: 2.625rem;
        padding: 3rem;
    }

    .why-choose-us > div > div > div > div > p {
        font-size: 1rem;
    }

}

.start-project > div {
    width: calc(100vw - 3rem - 3rem);
    max-width: calc(1440px - 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    gap: 2rem;
    border: 1px solid var(--white-10);
    background-color: var(--white-1);
    color: var(--white-100);
    border-radius: 2rem;
    text-align: center;
}

.start-project > div > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

.start-project > div > div:nth-child(2) {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.start-project > div > div > p {
    color: var(--white-80);
}


@media (min-width: 768px) {
    .start-project > div {
        width: calc(100vw - 8rem - 4rem);
        max-width: calc(1440px - 4rem);
        padding: 2rem;
    }
}

@media (min-width: 1280px) {
    .start-project > div {
        width: calc(100vw - 16rem - 6rem);
        max-width: calc(1440px - 6rem);
        padding: 3rem;
    }
}