main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7.5rem;
}

main > div {
    width: calc(100vw - 3rem - 2.5rem);
    max-width: calc(1440px - 2.5rem);
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--white-100);
    border: 1px solid var(--white-10);
    background-color: var(--white-1);
    border-radius: 1.5rem;
    padding: 1.5rem 1.25rem;
}

main p {
    color: var(--white-80);
}

@media (min-width: 768px) {
    main > div {
        width: calc(100vw - 8rem - 4rem);
        max-width: calc(1440px - 4rem);
        padding: 2rem;
    }
}

@media (min-width: 1280px) {
    main > div {
        width: calc(100vw - 16rem - 6rem);
        max-width: calc(1440px - 6rem);
        padding: 3rem;
    }
}

.form-service-wrap {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-service-wrap > div {
    width: calc(100vw - 2.5rem);
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.form-service-wrap .pricing {
    color: var(--white-100);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--white-10);
    background-color: var(--white-1);
    border-radius: 1.5rem;
    margin-top: 3rem;
}

.pricing > div {
    width: 100%;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;
}

.services-cards {
    padding: 1.25rem 1rem 1rem 1rem;
    background-color: var(--white-10);
    border: 1px solid var(--white-30);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.services-cards img {
    width: 100%;
    aspect-ratio: 16/9;
    background-color: var(--white-10);
    border-radius: 0.5rem;
}


.services-cards header {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 1.5rem;
}

.services-cards header > h6 {
    color: var(--red-main);
    text-align: right;
}

.services-cards > h6 {
    color: var(--white-80);
}

.services-cards ul {
    list-style-position: inside;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex-grow: 1;
}

.services-cards ul li::marker {
    color: var(--red-main);
}

.services-cards ul li {
    color: var(--white-80);
    font-size: 0.875rem
}


@media (min-width: 768px) {
    .pricing > div {
        grid-template-columns: 1fr 1fr;
    }

    .form-service-wrap > div {
        width: calc(100vw - 8rem);
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }

    .form-service-wrap .pricing {
        gap: 2rem;
        padding: 1.25rem;
        margin-top: 3rem;
    }

    .services-cards {
        padding: 1.25rem;
    }
}

@media (min-width: 1280px) {
    .form-service-wrap > div {
        width: calc(100vw - 16rem);
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    .form-service-wrap .pricing {
        gap: 2rem;
        padding: 1.5rem;
        margin-top: 3rem;
    }

    .services-cards {
        padding: 1.5rem;
    }
     
    .pricing > div {
        grid-template-columns: 1fr;
    }
}

.form-wrap {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    position: relative;
}

.form-service-wrap .form {
    width: 100%;
    padding: 1.5rem 1.25rem 1.25rem 1.25rem;
    border-radius: 2rem;
    border: 1px solid var(--white-10);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    color: var(--white-100);
    margin-top: 3rem;
}

.form > form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.25rem 1rem 1rem 1rem;
    border-radius: 1rem;
    border: 1px solid var(--white-30);
    background-color: var(--white-10);
}

.form > h3 {
    text-align: center;
    color: var(--white-100);
}

.form > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
}

.form > div p {
    color: var(--white-60);
    font-size: 0.875rem;
    text-align: center;
}

.form > form > div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
}

.form > form > div > div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.form > form > div > div input {
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    border: 1px solid var(--white-30);
    background-color: var(--white-10);
    color: var(--white-100);
    font-size: 1rem;
    line-height: 150%;
    transition: 0.1s;
    outline: 0px solid var(--red-main);
}

.form > form > div > div input:focus {
    outline: 2px solid var(--red-main);
}

.form > form > div > div textarea {
    padding: 0.75rem 1rem;
    height: 8rem;
    border-radius: 0.75rem;
    border: 1px solid var(--white-30);
    background-color: var(--white-10);
    color: var(--white-100);
    font-size: 1rem;
    line-height: 150%;
    resize: none;
}

.form > form > div > div li {
    list-style-type: none;
    padding: 0.75rem 1rem;
    border-radius: 0.75rem;
    border: 1px solid var(--white-30);
    background-color: var(--white-10);
    align-items: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.form > form > div > div li svg {
    stroke: var(--white-80);
}

.form > form > div > div li a {
    color: var(--white-30);
    font-size: 1rem;
    line-height: 150%;
}

.form > form > div > div input::placeholder,
.form > form > div > div textarea::placeholder {
    color: var(--white-30);
}

@media (min-width: 768px) {
    .form-service-wrap .form {
        padding: 1.5rem 1.25rem 1.25rem 1.25rem;
        border-radius: 1.5rem;
        gap: 1.5rem;
        margin-top: 3rem;
    }

    .form > form {
        gap: 1.25rem;
        padding: 1.5rem;
        border-radius: 1rem;
    }

    .form > form > div {
        grid-template-columns: 1fr 1fr;
    }


    .form-span {
        grid-column: span 2;
    }
}

@media (min-width: 1280px) {
    .form-service-wrap .form {
        padding: 2rem;
        border-radius: 2rem;
        gap: 2rem;
        margin-top: 3rem;
    }

    .form > form {
        gap: 2rem;
        padding: 1.5rem;
        border-radius: 1rem;
    }


    .form > form > div {
        gap: 1.5rem;
    }

    .form-wrap {
        grid-column: span 2;
    }
}

section {
    margin: 3rem 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.questions {
    margin-bottom: 6rem;
}

.questions > div {
    width: calc(100vw - 3rem - 2.5rem);
    max-width: calc(1440px - 2.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1rem;
    gap: 2rem;
    border: 1px solid var(--white-10);
    background-color: var(--white-1);
    color: var(--white-100);
    border-radius: 2rem;
    text-align: center;
}

.questions > div > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

.questions > div > div:nth-child(2) {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.questions > div > div > p {
    color: var(--white-80);
}

@media (min-width: 768px) {
    .questions > div {
        width: calc(100vw - 8rem - 4rem);
        max-width: calc(1440px - 4rem);
        padding: 2rem;
        gap: 2rem;
        border-radius: 2rem;
    }
}

@media (min-width: 1280px) {
    .questions > div {
        width: calc(100vw - 16rem - 6rem);
        max-width: calc(1440px - 6rem);
        padding: 3rem;
        gap: 2rem;
        border-radius: 2rem;
    }
}

.selection-container {
    position: relative;
    width: 100%;
}

.selection-dropdown {
    width: calc(100% - 0.5rem);
    position: absolute;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
    z-index: 10;
    top: calc(100% + 0.5rem);
    gap: 0.25rem;
    border-radius: 0.75rem;
    border: 1px solid var(--white-30);
    background-color: #181f34;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.selected-service {
    color: var(--white-100) !important;
}

.open .selection-dropdown {
    opacity: 1;
    pointer-events: all;
}

.selection-dropdown > a {
    padding: 0.75rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.selection-dropdown > a:hover {
    background-color: #212942;
}

.calender-top {
    display: flex;
    justify-content: space-between;
}