main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7.5rem;
}

main > div {
    width: calc(100vw - 3rem - 2.5rem);
    max-width: calc(1440px - 2.5rem);
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--white-100);
    border: 1px solid var(--white-10);
    background-color: var(--white-1);
    border-radius: 1.5rem;
    padding: 1.25rem;
}

main p {
    color: var(--white-80);
}

@media (min-width: 768px) {
    main > div {
        width: calc(100vw - 8rem - 4rem);
        max-width: calc(1440px - 4rem);
        padding: 2rem;
    }
}

@media (min-width: 1280px) {
    main > div {
        width: calc(100vw - 16rem - 6rem);
        max-width: calc(1440px - 6rem);
        padding: 3rem;
    }
}


.qna-sections:nth-child(3) {
    margin-top: 5rem;
}

section {
    margin: 2rem 0 0 0;
}

.qna-sections > div {
    width: calc(100vw - 3rem - 2.5rem);
    max-width: calc(1440px - 2.5rem);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--white-100);
    border: 1px solid var(--white-10);
    background-color: var(--white-1);
    border-radius: 1.5rem;
    padding: 1.5rem 1.25rem 1.25rem 1.25rem;
}

.qna-sections > div > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.qna-sections > div > h3 {
    width: 100%;
    text-align: center;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--white-10);
}

.qna-sections > div > div > .dropdown {
    border-radius: 1rem;
    border: 1px solid var(--white-30);
    background-color: var(--white-10);
    overflow: hidden;
    transition: 0.3s;
}

.qna-sections .dropdown > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border: 0px;
    transition: 0.3s ease-out;
}

.qna-sections .dropdown > p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 0px;
    padding: 0rem 1.5rem;
    color: var(--white-80);
    opacity: 0;
    transition: 0.3s;
}

.qna-sections .dropdown > div > svg {
    stroke: var(--red-main);
    transition: 0.3s;
}

.dropdown-active > div {
    border-bottom: 1px solid var(--white-30) !important;
}

.dropdown-active > div > svg {
    transform: rotate(45deg);
}


.dropdown-active > p {
    max-height: 50rem !important;
    padding: 1.5rem !important;
    overflow: hidden;
    opacity: 100% !important;
}

.email-us {
    margin-top: 6rem;
}

@media (min-width: 768px) {
    .qna-sections > div {
        width: calc(100vw - 8rem - 4rem);
        max-width: calc(1440px - 4rem);
        gap: 2rem;
        padding: 2rem;
    }

    .qna-sections > div > div {
        gap: 1.25rem;
    }

    .qna-sections .dropdown > div {
        padding: 1.25rem;
    }

}

@media (min-width: 1280px) {
    .qna-sections > div {
        width: calc(100vw - 16rem - 6rem);
        max-width: calc(1440px - 6rem);
        gap: 2.625rem;
        padding: 3rem;
    }

    .qna-sections > div > div {
        gap: 1.5rem;
    }

    .qna-sections .dropdown > div {
        padding: 1.5rem;
    }
}

.email-us > div {
    width: calc(100vw - 3rem - 2.5rem);
    max-width: calc(1440px - 2.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 1.25rem 1.25rem 1.25rem;
    gap: 2rem;
    border: 1px solid var(--white-10);
    background-color: var(--white-1);
    color: var(--white-100);
    border-radius: 2rem;
    text-align: center;
}

.email-us > div > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
}

.email-us > div > div:nth-child(2) {
    display: flex;
    gap: 1rem;
}

.email-us > div > div > p {
    color: var(--white-80);
}

@media (min-width: 768px) {
    .email-us > div {
        width: calc(100vw - 8rem - 4rem);
        max-width: calc(1440px - 4rem);
        padding: 2rem;
        gap: 2rem;
    }
}

@media (min-width: 1280px) {
    .email-us > div {
        width: calc(100vw - 16rem - 6rem);
        max-width: calc(1440px - 6rem);
        padding: 3rem;
        gap: 2rem;
    }
}

.quick-tips {
    margin: 6rem 0 6rem 0;
}

.quick-tips > div {
    width: calc(100vw - 3rem - 2.5rem);
    max-width: calc(1440px - 2.5rem);
    color: var(--white-100);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 1.25rem 1.25rem 1.25rem;
    border: 1px solid var(--white-10);
    background-color: var(--white-1);
    border-radius: 2rem;
    text-align: center;
}

.quick-tips > div > div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.quick-tips > div > div > div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--white-30);
    background-color: var(--white-10);
    border-radius: 1rem;
}

.quick-tips > div > div > div > div:nth-child(1) {
    padding: 1.125rem;
    background-color: var(--red-main);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quick-tips > div > div > div > div > svg {
    width: 2.625rem;
    height: 2.625rem;
}

.quick-tips > div > div > div > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.quick-tips > div > div > div > div p {
    color: var(--white-80);
    font-size: 0.875rem;
}

.quick-tips .position {
    color: var(--red-main);
}

.quick-tips .category {
    color: var(--white-60);
}


@media (min-width: 768px) {
    .quick-tips > div {
        width: calc(100vw - 8rem - 4rem);
        max-width: calc(1440px - 4rem);
        gap: 2rem;
        padding: 2rem;
    }

    .quick-tips > div > div > div {
        padding: 1.25rem;
    }

    .quick-tips > div > div {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1280px) {
    .quick-tips > div {
        width: calc(100vw - 16rem - 6rem);
        max-width: calc(1440px - 6rem);
        gap: 2.625rem;
        padding: 3rem;
    }

    .quick-tips > div > div {
        gap: 2rem;
    }

    .quick-tips > div > div > div {
        padding: 1.5rem;
    }
}